*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.site {
  min-height: 100%;
}

.header {
  background: white;
  padding: 1rem 2rem;
}

.sidebar {
  background-color: #424242;
  color: white;
  padding: 0 2rem;
}

.main {
  padding: 0 2rem;
}

.footer {
  margin-top: 2rem;
}

.anchor {
  color: white;
  text-decoration: none;
}

.anchor.active {
  color: orange;
}

.anchor:hover {
  text-decoration: underline;
}

.showcase {
  padding: 1rem;
  border: 1px solid black;
}
